/*---- Fonts ----*/
@font-face {
  font-family: 'Hellix';
  src: url("../fonts/Hellix-Bold.ttf"), url("../fonts/Hellix-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url("../fonts/Hellix-SemiBold.ttf"), url("../fonts/Hellix-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url("../fonts/Hellix-Medium.ttf"), url("../fonts/Hellix-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url("../fonts/Hellix-Regular.ttf"), url("../fonts/Hellix-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}